@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
  background-color: black;
}

body {
  color: white;
}


.footer {
  color: whitesmoke;
  /* border: 1px solid blue; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  height: 15vh;
  /* position: absolute;
  bottom: -15vh; */
  border-top: 1px solid white;
}